# Importing Pandas

In [1]:
import pandas as pd

# Opening a Local CSV

In [2]:
df = pd.read_csv('aug_train.csv')
df

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

# Opening a CSV from an URL

In [3]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

# Sep Parameter

In [4]:
# pd.read_csv('movies_titles_metadata.tsc', sep='\t', name=['sno', 'name', 'release_year', 'rating', 'votes', 'geners')

# Index_Col Parameter

In [5]:
pd.read_csv('aug_train.csv')

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

# Import Pandas

In [6]:
import pandas as pd

In [7]:
pd.read_json('recpie_train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [8]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,0.0408
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,0.7350
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,0.9210
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,4.2500
...,...,...,...,...,...,...,...
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,2.6500
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,0.1840
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,0.2220
ZWG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,0.2860
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-01-09,1767916802,0.2860

In [9]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.9 MB 1.9 MB/s eta 0:00:06
     --- ------------------------------------ 1.0/11.9 MB 1.8 MB/s eta 0:00:06
     ---- ----------------------------------- 1.3/11.9 MB 1.8 MB/s eta 0:00:06
     ----- ---------------------------------- 1.6/11.9 MB 1.8 MB/s eta 0:00:06
     ------ --------------------------------- 1.8/11.9 MB 1.8 MB/s eta 0:00:06
     ------ --------------------------------- 1.8/11.9 MB 1.8 MB/s eta 0:00:06
     -------- ------------------------------- 2.6/11.9 MB 1.6 MB/s eta 0:00:06
     --------- ------------------------------ 2.9/11.9 MB 1.5 MB/s eta 0:00:06
     ---------- ----------------------------- 3.1/11.9 MB 1.5 MB/s eta 0:00:06
     ----------- ---------------------------- 3.4/11.9 MB 1.5 MB/s eta 0:00:06
     ------------ --------------------------- 3.7/11.9 MB 1.5 MB/s eta 0:00:06
     -------------- ------------------------- 4.2/11.9 MB 1.5 MB/s eta 0:00:06
     -------------- ------------------------- 4.2/11.9 MB 1.5 MB/s eta 0:00:06
     --------------- ------------------------ 4.5/11.9 MB 1.4 MB/s eta 0:00:06
     --------------- ------------------------ 4.7/11.9 MB 1.4 MB/s eta 0:00:05
     ---------------- ----------------------- 5.0/11.9 MB 1.4 MB/s eta 0:00:05
     ---------------- ----------------------- 5.0/11.9 MB 1.4 MB/s eta 0:00:05
     ----------------- ---------------------- 5.2/11.9 MB 1.3 MB/s eta 0:00:06
     ------------------ --------------------- 5.5/11.9 MB 1.3 MB/s eta 0:00:05
     ------------------- -------------------- 5.8/11.9 MB 1.3 MB/s eta 0:00:05
     -------------------- ------------------- 6.0/11.9 MB 1.3 MB/s eta 0:00:05
     --------------------- ------------------ 6.3/11.9 MB 1.3 MB/s eta 0:00:05
     --------------------- ------------------ 6.3/11.9 MB 1.3 MB/s eta 0:00:05
     --------------------- ------------------ 6.3/11.9 MB 1.3 MB/s eta 0:00:05
     --------------------- ------------------ 6.3/11.9 MB 1.3 MB/s eta 0:00:05
     ---------------------- ----------------- 6.6/11.9 MB 1.1 MB/s eta 0:00:05
     ----------------------- ---------------- 7.1/11.9 MB 1.2 MB/s eta 0:00:05
     ------------------------- -------------- 7.6/11.9 MB 1.2 MB/s eta 0:00:04
     -------------------------- ------------- 7.9/11.9 MB 1.2 MB/s eta 0:00:04
     ---------------------------- ----------- 8.4/11.9 MB 1.3 MB/s eta 0:00:03
     ----------------------------- ---------- 8.7/11.9 MB 1.3 MB/s eta 0:00:03
     ------------------------------ --------- 8.9/11.9 MB 1.3 MB/s eta 0:00:03
     ------------------------------- -------- 9.4/11.9 MB 1.3 MB/s eta 0:00:02
     -------------------------------- ------- 9.7/11.9 MB 1.3 MB/s eta 0:00:02
     --------------------------------- ------ 10.0/11.9 MB 1.3 MB/s eta 0:00:02
     ----------------------------------- ---- 10.5/11.9 MB 1.3 MB/s eta 0:00:02
     ------------------------------------ --- 10.7/11.9 MB 1.3 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 1.3 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 1.4 MB/s  0:00:08
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (pyproject.toml): started
  Building wheel for mysql.connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp313-cp313-win_amd64.whl size=248050 sha256=4a9408d8e7ef8d6ef43fdf9888d202b7710cb7232f6d20f9632cd3d35e7295a2
  Stored in directory: c:\users\homepc\appdata\local\pip\cache\wheels\4e\c1\23\9423c444a75266a05275c80ebf5c6efe2368388e976b690a0f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [10]:
import mysql.connector

In [11]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [13]:
pip install sqlalchemy mysql-connector-python

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\homepc\anaconda3\envs\hundreddaysml\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.45-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.1 MB 1.7 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.6 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.7 MB/s  0:00:01
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 1.8 MB/s eta 0:00:09
   -- ------------------------------------- 1.0/16.5 MB 1.8 MB/s eta 0:00:09
   --- ------------------------------------ 1.3/16.5 MB 1.8 MB/s eta 0:00:09
   ---- ----------------------------------- 1.8/16.5 MB 1.9 MB/s eta 0:00:08
   ----- ---------------------------------- 2.1/16.5 MB 1.9 MB/s eta 0:00:08
   ----- ---------------------------------- 2.1/16.5 MB 1.9 MB/s eta 0:00:08
   ------ --------------------------------- 2.6/16.5 MB 1.8 MB/s eta 0:00:08
   ------- -------------------------------- 3.1/16.5 MB 1.7 MB/s eta 0:00:08
   -------- ------------------------------- 3.4/16.5 MB 1.7 MB/s eta 0:00:08
   -------- ------------------------------- 3.7/16.5 MB 1.7 MB/s eta 0:00:08
   ---------- ----------------------------- 4.2/16.5 MB 1.7 MB/s eta 0:00:08
   ---------- ----------------------------- 4.5/16.5 MB 1.7 MB/s eta 0:00:08
   ------------ --------------------------- 5.0/16.5 MB 1.7 MB/s eta 0:00:07
   ------------ --------------------------- 5.2/16.5 MB 1.7 MB/s eta 0:00:07
   ------------- -------------------------- 5.5/16.5 MB 1.7 MB/s eta 0:00:07
   ------------- -------------------------- 5.8/16.5 MB 1.7 MB/s eta 0:00:07
   -------------- ------------------------- 6.0/16.5 MB 1.7 MB/s eta 0:00:07
   --------------- ------------------------ 6.6/16.5 MB 1.6 MB/s eta 0:00:07
   ---------------- ----------------------- 6.8/16.5 MB 1.6 MB/s eta 0:00:07
   ---------------- ----------------------- 6.8/16.5 MB 1.6 MB/s eta 0:00:07
   ----------------- ---------------------- 7.1/16.5 MB 1.6 MB/s eta 0:00:06
   ------------------ --------------------- 7.6/16.5 MB 1.5 MB/s eta 0:00:06
   ------------------- -------------------- 7.9/16.5 MB 1.5 MB/s eta 0:00:06
   ------------------- -------------------- 8.1/16.5 MB 1.5 MB/s eta 0:00:06
   -------------------- ------------------- 8.7/16.5 MB 1.6 MB/s eta 0:00:06
   --------------------- ------------------ 8.9/16.5 MB 1.6 MB/s eta 0:00:05
   ---------------------- ----------------- 9.2/16.5 MB 1.6 MB/s eta 0:00:05
   ----------------------- ---------------- 9.7/16.5 MB 1.6 MB/s eta 0:00:05
   ------------------------ --------------- 10.0/16.5 MB 1.6 MB/s eta 0:00:05
   ------------------------ --------------- 10.2/16.5 MB 1.6 MB/s eta 0:00:04
   -------------------------- ------------- 10.7/16.5 MB 1.6 MB/s eta 0:00:04
   -------------------------- ------------- 11.0/16.5 MB 1.6 MB/s eta 0:00:04
   --------------------------- ------------ 11.5/16.5 MB 1.6 MB/s eta 0:00:04
   ---------------------------- ----------- 11.8/16.5 MB 1.6 MB/s eta 0:00:03
   ----------------------------- ---------- 12.1/16.5 MB 1.6 MB/s eta 0:00:03
   ------------------------------ --------- 12.6/16.5 MB 1.6 MB/s eta 0:00:03
   ------------------------------- -------- 13.1/16.5 MB 1.6 MB/s eta 0:00:03
   -------------------------------- ------- 13.4/16.5 MB 1.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.9/16.5 MB 1.6 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.5 MB 1.6 MB/s eta 0:00:02
   ----------------------------------- ---- 14.7/16.5 MB 1.6 MB/s eta 0:00:02
   ------------------------------------ --- 14.9/16.5 MB 1.6 MB/s eta 0:00:01
   ------------------------------------ --- 15.2/16.5 MB 1.6 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 1.6 MB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 1.6 MB/s  0:00:10
Downloading greenlet-3.3.0-cp313-cp313-win_amd64.whl (301 kB)
Installing collected packages: mysql-connector-python, greenlet, sqlalchemy

   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ---------------------------------------- 0/3 [mysql-connector-python]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.0 mysql-connector-python-9.5.0 sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
from sqlalchemy import create_engine

# Create SQLAlchemy engine for MySQL
engine = create_engine(
    "mysql+mysqlconnector://root:@localhost:3306/world"
)

# Read data into pandas DataFrame
df = pd.read_sql_query("SELECT * FROM countrylanguage", engine)
df

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]